[Desktop Entry]
Name=QT5 Hello Window
Exec=/usr/share/examples/opengl/hellowindow/hellowindow
Icon=hellowindow
Terminal=false
Type=Application
X-MB-SingleInstance=true
Comment=QT5 Hello Window
StartupNotify=false
