[Unit]
Description=CYW55512 Bluetooth Initialization
After=network.target suspend.target
ConditionPathIsDirectory=/proc/device-tree/bluetooth

[Service]
ExecStart=/etc/bluetooth-init start
ExecStop=/etc/bluetooth-init stop
Type=forking

[Install]
WantedBy=multi-user.target suspend.target
