[Unit]
Description=Initialization of the ConnectCore demo example
After=weston@root.service cloud-connector.service

[Service]
Type=forking
ExecStart=/etc/connectcore-demo-example start
ExecStop=/etc/connectcore-demo-example stop

[Install]
WantedBy=multi-user.target
