[Unit]
Description=CYW55512 Bluetooth Initialization
After=network.target suspend.target
ConditionPathIsDirectory=/proc/device-tree/bluetooth

[Service]
Type=forking
ExecStart=/etc/cyw55512-bluetooth start
ExecStop=/etc/cyw55512-bluetooth stop

[Install]
WantedBy=multi-user.target suspend.target
