[Desktop Entry]
Name=Qt5 QML player
Exec=/bin/sh -c "cd /usr/share/qt5/examples/multimedia/video/qmlvideo; ./qmlvideo"
Icon=qmlvideo
Terminal=false
Type=Application
X-MB-SingleInstance=true
Comment=Qt5 Qml Video and Camera player
StartupNotify=false
