# CONFIG_MTD is not set
# CONFIG_LUA is not set
# CONFIG_BOOTLOADER_NONE is not set
CONFIG_UBOOT=y
CONFIG_HASH_VERIFY=y
CONFIG_ARCHIVE=y
CONFIG_BOOTLOADERHANDLER=y
CONFIG_RAW=y
CONFIG_RDIFFHANDLER=y
CONFIG_SHELLSCRIPTHANDLER=y
