[Unit]
Description=Cloud Connector service initialization
After=network.target

[Service]
Type=forking
ExecStart=/etc/cloud-connector start
ExecStop=/etc/cloud-connector stop

[Install]
WantedBy=multi-user.target
