config APPS_OPENGLES_C
	bool opengles
	depends on DEL_CCXMX5XJS
	help
	  Sample OpenGL ES applications based on code from Freescale GPU SDK.

	  Programming language: C

config APPS_OPENGLES_C_DIR
	string
	depends on APPS_OPENGLES_C
	default opengles_c
