[Unit]
Description=Initialization of the ConnectCore demo example
After=connectcore-demo-server

# Make sure we are started after graphic service is available
After=##WESTON_SERVICE##
Requires=##WESTON_SERVICE##

[Service]
Type=forking
ExecStart=/etc/connectcore-demo-example start
ExecStop=/etc/connectcore-demo-example stop

[Install]
WantedBy=multi-user.target
