[Unit]
Description=Stop managed containers during system shutdown
DefaultDependencies=no
After=cc-containerd.service network.target cccsd.service
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cc-containerd --config-file /etc/cc-container-mng.conf --stop-managed-containers
TimeoutStartSec=10

[Install]
WantedBy=shutdown.target
