[Unit]
Description=Initialization of the IW612 bluetooth chip
ConditionPathIsDirectory=/proc/device-tree/bluetooth
Before=bluetooth.service
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/bluetooth-init start
ExecStop=/etc/bluetooth-init stop

[Install]
WantedBy=bluetooth.service
