[Unit]
Description=XBee GPIOs initialization
Before=ModemManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/xbee-init start

[Install]
WantedBy=multi-user.target
