# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# If both copies are set to the same offset, an automatic mechanism will
# determine the first good sectors where each copy lives, skipping bad blocks.

# Device name    Offset   Size       Erase-size    No.Blocks
/dev/##MTDINDEX##        ##ENV_OFFSET##      ##ENV_SIZE##    ##ERASEBLOCK##       ##NBLOCKS##
/dev/##MTDINDEX##        ##ENV_REDUND_OFFSET##      ##ENV_SIZE##    ##ERASEBLOCK##       ##NBLOCKS##
