config APPS_HDP_TEST
	bool hdp_test
	depends on DEL_CCARDWMX28JS
	help
	  Application to receive data from an oximeter using the Bluetooth Health
	  Device Profile (HDP).

	  For this application to work, you need to have Bluetooth support in the kernel
	  and enable/disable following options in rootfs configuration:

	  Rootfs Configuration -> Pre-built applications:
	    * [enable] BlueZ utilities (DEL_PACKAGE_BLUEZ)
	    * [enable] Python language interpreter (DEL_PACKAGE_PYTHON)
	    * [disable] Minimal subset of python language (DEL_PACKAGE_PYTHON_MINIMAL)

config APPS_HDP_TEST_DIR
	string
	depends on APPS_HDP_TEST
	default hdp_test_py
