[Unit]
Description=CCCS get start demo
After=cccsd.service
BindsTo=cccsd.service
Upholds=cccsd.service

[Service]
Type=forking
ExecStart=/etc/cccs-gs-demo start
ExecStop=/etc/cccs-gs-demo stop
# SIGTERM signal is a valid status value
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
