[Unit]
Description=Initialization of the bluetooth chip
ConditionPathIsDirectory=/proc/device-tree/bluetooth
After=##BT_TTY##
Before=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/bluetooth-init start
ExecStop=/etc/bluetooth-init stop

[Install]
WantedBy=bluetooth.service
